<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de encuestas</title>
</head>
<body>
    <p>Filtro</p>
    <!--<form th:action="@{/encuestas}" method="post" th:object="${encuesta}">
        <select th:field="*{encuesta.motivoVisita}">
            <option value="" selected>Seleccionar motivo:</option>
            <option value="trabajo">Trabajo</option>
            <option value="estudios">Estudios</option>
            <option value="turismo">Turismo</option>
            <option value="otros">Otros</option>
        </select><br><br>
    </form>-->

    <p>Aquí irán las encuestas creadas</p>
    <div id="encuestas">
        <p th:if="${#lists.isEmpty(encuestas)}">No hay encuestas.</p>

        <ul>
            <li th:each="encuesta: ${encuestas}">
                <p th:text="${encuesta.nombre}"></p>
                <p th:text="${encuesta.fechaEstancia}"></p>
                <p th:text="${encuesta.nivelSatisfaccion}"></p>
                <a th:href="@{/encuestas/view/{id}(id=${encuesta.id})}">ver</a>
                <a th:href="@{/encuestas/del/{id}(id=${encuesta.id})}">borrar</a>
                <a th:href="@{/encuestas/edit/{id}(id=${encuesta.id})}">editar</a>
            </li>
        </ul>

    </div>
</body>
</html>