<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Listado de encuestas</title>
</head>
<body>
    <p>Filtro por nivel de satisfacción</p>
    <!-- Formulario para filtrar encuestas -->
    <form th:action="@{/encuestas/filter}" method="get">
        <select name="nivelSatisfaccion">
            <option value="">-- Selecciona un nivel --</option>
            <option value="1">1 - Muy satisfecho</option>
            <option value="2">2 - Satisfecho</option>
            <option value="3">3 - Neutral</option>
            <option value="4">4 - Insatisfecho</option>
            <option value="5">5 - Muy insatisfecho</option>
        </select>
        <button type="submit">Filtrar</button>
    </form>

    <p>Aquí irán las encuestas creadas</p>
    <div id="encuestas">
        <p th:if="${#lists.isEmpty(encuestas)}">No hay encuestas.</p>

        <ul>
            <li th:each="encuesta: ${encuestas}">
                <p th:text="${encuesta.nombre}"></p>
                <p th:text="${encuesta.fechaEstancia}"></p>
                <p th:text="${encuesta.nivelSatisfaccion}"></p>
                <a th:href="@{/encuestas/view/{id}(id=${encuesta.id})}">ver</a>
                <a th:href="@{/encuestas/del/{id}(id=${encuesta.id})}">borrar</a>
                <a th:href="@{/encuestas/edit/{id}(id=${encuesta.id})}">editar</a>
            </li>
        </ul>

    </div>

    <h2>Estadísticas</h2>
    <p> Número total de encuestas: <span th:text="${numTotalEncuestas}"></span></p>
    <p> Promedio de edades: <span th:text="${promedioEdad}"></span></p>
    <h3>Distribución de Niveles de Satisfacción</h3>
    <ul>
        <li th:each="entry : ${distribucionPorcentajes}">
            <span th:text="${entry.key}">Nivel</span>:
            <span th:text="${entry.value} + '%'">Porcentaje</span>
        </li>
    </ul>

</body>
</html>